ul#messages
  li.message.mine.cf
    div.avatar
      img(src="http://www.gravatar.com/avatar/f3473fc9a5d43a236e7aa81e841aedb9.jpg?s=50&r=g&d=identicon")
    div.container
      div.content
        | TESTING content. Hello world.
        div.details
          span.name
            | Jason Lau
          span.time
            | 2014-04-02 22:59
  li.message.others.cf
    div.avatar
      img(src="http://www.gravatar.com/avatar/129cc883df47f2c03616cc0010ed30c5.jpg?s=50&r=g&d=identicon")
    div.container
      div.content
        | It's fun
        div.details
          span.name
            | Tester
          span.time
            | 2014-04-02 22:58
  li.message.mine.cf
    div.avatar
      img(src="http://www.gravatar.com/avatar/f3473fc9a5d43a236e7aa81e841aedb9.jpg?s=50&r=g&d=identicon")
    div.container
      div.content
        | a very very very long content. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world. Hello world.
        div.details
          span.name
            | Jason Lau
          span.time
            | 2014-04-02 22:59
  li.message.others.cf
    div.avatar
      img(src="http://www.gravatar.com/avatar/129cc883df47f2c03616cc0010ed30c5.jpg?s=50&r=g&d=identicon")
    div.container
      div.content
        | It's fun
        div.details
          span.name
            | Tester
          span.time
            | 2014-04-02 22:58
  li.message.mine.cf
    div.avatar
      img(src="http://www.gravatar.com/avatar/f3473fc9a5d43a236e7aa81e841aedb9.jpg?s=50&r=g&d=identicon")
    div.container
      div.content
        | TESTING content. Hello world.
        div.details
          span.name
            | Jason Lau
          span.time
            | 2014-04-02 22:59
  li.message.others.cf
    div.avatar
      img(src="http://www.gravatar.com/avatar/129cc883df47f2c03616cc0010ed30c5.jpg?s=50&r=g&d=identicon")
    div.container
      div.content
        | It's fun
        div.details
          span.name
            | Tester
          span.time
            | 2014-04-02 22:58
  li.message.others.cf
    div.avatar
      img(src="http://www.gravatar.com/avatar/129cc883df47f2c03616cc0010ed30c5.jpg?s=50&r=g&d=identicon")
    div.container
      div.content
        | It's fun
        div.details
          span.name
            | Tester
          span.time
            | 2014-04-02 22:58
  li.message.mine.cf
    div.avatar
      img(src="http://www.gravatar.com/avatar/f3473fc9a5d43a236e7aa81e841aedb9.jpg?s=50&r=g&d=identicon")
    div.container
      div.content
        | No it's not
        div.details
          span.name
            | Jason Lau
          span.time
            | 2014-04-02 22:59
